@charset "UTF-8";

.alldata{
	width: 80%;
	border: 1px solid black; 
	margin:0 auto;
	height: 500px;
	overflow: scroll;
	background-color: lightblue;
	
}
.table1{
	width:90%;
	margin:0 auto;
}



.delete{
	width:30%;
	padding:5px;
	border: 1px solid black;
	float: left;
	background-color: lightblue;
	
}

td{
	text-align:center;
}

.insert{
	border: 1px solid black;
	float:left;
	margin-left:30px;
	background-color: lightblue;
}

.update{
	
	border: 1px solid black;
	float:left;
	margin-left:30px;
	background-color: lightblue;
}