*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body {
    background-color:rgb(241, 225, 196);
}
.header {
    margin-left: 200px;
    margin-top: 10px;
    padding: 20px;
    text-align:center;
	background-image:url("/img/j2.jpeg");
    background-position-y: 35%;
    background-size:cover
}
.text{
    background-color: white;
    color: black;
    font-size: 40px; 
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 30%;
    text-align: center;
    mix-blend-mode: screen;
}
.sidenav{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    float: left;
    background-color: black;
    overflow-x: hidden;
}
/*  */
.sidediv{
    height: 30%;
    width: 200px;
    top: 0;
    left: 0;
    clear: right;
    float: left;
    margin: 10px;
}
.sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}
.sidenav a:hover{
    background-color: #ddd;
    color: black;
}

.row{
    margin-left: 200px;
    height: 740px;
    overflow: 0 auto;
    position: relative;
}
.row::before{
    content: "";
    background-image: url(/img/japan.jpg);
    background-size:unset;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

.bg{
    /* margin-top: 100px;
    margin-left: 200px; */
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    width: 75%;
    height: 500px;
    overflow: hidden;
    background-color: #FFE4CA;
    
}
 /* ===========hw1============= */
 .hw1container{
    display: none;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-collapse:collapse; 
    background-color:#CAFFFF;
    border:3px solid #2894FF;
    color:#F75000;
    font-size: 20px;
 }
 .th1{
     border-bottom: 3px solid #2894FF;
 }
 .tr1{
     border-right: 2px solid crimson;
 }
 .tr1:hover{
     background-color: #FFED97;
     text-align:center;
     
 }
 /* ===========hw2============= */
#hw2container{
    display: none;
}
fieldset{
    width: 500px;
    border-radius:10px;
    border:1px solid darkgreen;
    padding: 15px;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #c2f1ff;
    box-shadow: 5px 5px 10px#BEBEBE;
    border-style: outset;

}
legend {
    /* text-align:right; */
    margin-left:30px;
}
.st1{
    width: 450px;
    margin: 20px;
    border-bottom: 3px dashed #d0d0d0d2;
    padding-bottom: 10px;
}
p{
    color: rgb(15, 15, 15);
}
 /* ===========hw3============= */
#hw3container{
    width: 700px;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color:#ffb26a;
    border-radius: 15px;
    box-shadow: 5px 5px 10px#BEBEBE;
    border-style: outset;
}
.hw3{
    /* border: 1px solid darkred; */
   margin-bottom: 0;
}
#wait,#score{
    font-size: 25px;
    font-family: 'RocknRoll One', sans-serif;
}

 /* ===========hw4============= */
 #hw4container{
    width: 700px;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    /* border:1px solid red */
 }
  /* ===========hw5============= */
#hw5container{
    width: 450px;
    height: 100px;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color:#ffb26a;
    border-radius: 15px;
    box-shadow: 5px 5px 10px#BEBEBE;
    border-style: outset;
    display: none;
}
#datecontainer{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#idwords2{
    font-weight: bold;
}
  /* ===========door============= */
.doorText{
    background-color: rgba(255, 219, 38, 0.959); 
    color: #333; 
    font-family: Verdana, sans-serif; 
    font-size: 24px; 
    font-weight: bold; 
    line-height: 45px; 
    height: 45px; 
    border:solid 1px rgba(0,0,0,0.15); 
    border-width:1px 0;
    position: absolute; 
    top: 50%;  
    padding: 0 0 0 20px; 
    left: 1px; 
    right: 1px; 
    margin-top: -22.5px; 
    text-shadow: 0 1px 1px rgba(255,255,255,0.25);
    text-align: center;
}


.leftdoor{
    position: absolute; 
        left: 0%; 
        top: 0; 
        bottom: 0; 
        width: 50%; 
        transition: 2s ease-in-out; 
        border: 3px solid black;
        background-color: rgb(117, 35, 2);
        /* box-shadow: inset 0 0 0 1px rgba(0,0,0,0.40);  */
        /* background: rgba(226,226,226,0.35); 
        background: -moz-linear-gradient(-45deg, rgba(226,226,226,0.35) 0%, rgba(219,219,219,0.35) 50%, rgba(209,209,209,0.35) 51%, rgba(254,254,254,0.35) 100%); 
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(226,226,226,0.35)), color-stop(50%, rgba(219,219,219,0.35)), color-stop(51%, rgba(209,209,209,0.35)), color-stop(100%, rgba(254,254,254,0.35))); 
        background: -webkit-linear-gradient(-45deg, rgba(226,226,226,0.35) 0%, rgba(219,219,219,0.35) 50%, rgba(209,209,209,0.35) 51%, rgba(254,254,254,0.35) 100%); 
        background: -o-linear-gradient(-45deg, rgba(226,226,226,0.35) 0%, rgba(219,219,219,0.35) 50%, rgba(209,209,209,0.35) 51%, rgba(254,254,254,0.35) 100%); 
        background: -ms-linear-gradient(-45deg, rgba(226,226,226,0.35) 0%, rgba(219,219,219,0.35) 50%, rgba(209,209,209,0.35) 51%, rgba(254,254,254,0.35) 100%); 
        background: linear-gradient(135deg, rgba(226,226,226,0.35) 0%, rgba(219,219,219,0.35) 50%, rgba(209,209,209,0.35) 51%, rgba(254,254,254,0.35) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );       */

    }
.rightdoor{ 
    position: absolute; 
    right: 0%; 
    top: 0; 
    bottom: 0; 
    width: 50%; 
    transition: 2s ease-in-out; 
    border: 3px solid black;
    background-color: rgb(117, 35, 2);
    /* box-shadow: inset 0 0 0 1px rgba(0,0,0,0.40); 
    background: rgba(226,226,226,0.35); 
    background: -moz-linear-gradient(-45deg, rgba(226,226,226,0.35) 0%, rgba(219,219,219,0.35) 50%, rgba(209,209,209,0.35) 51%, rgba(254,254,254,0.35) 100%); 
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(226,226,226,0.35)), color-stop(50%, rgba(219,219,219,0.35)), color-stop(51%, rgba(209,209,209,0.35)), color-stop(100%, rgba(254,254,254,0.35))); 
    background: -webkit-linear-gradient(-45deg, rgba(226,226,226,0.35) 0%, rgba(219,219,219,0.35) 50%, rgba(209,209,209,0.35) 51%, rgba(254,254,254,0.35) 100%); 
    background: -o-linear-gradient(-45deg, rgba(226,226,226,0.35) 0%, rgba(219,219,219,0.35) 50%, rgba(209,209,209,0.35) 51%, rgba(254,254,254,0.35) 100%); 
    background: -ms-linear-gradient(-45deg, rgba(226,226,226,0.35) 0%, rgba(219,219,219,0.35) 50%, rgba(209,209,209,0.35) 51%, rgba(254,254,254,0.35) 100%); 
    background: linear-gradient(135deg, rgba(226,226,226,0.35) 0%, rgba(219,219,219,0.35) 50%, rgba(209,209,209,0.35) 51%, rgba(254,254,254,0.35) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 ); */
}
.bg:hover .leftdoor {
    left: -50%;
}
.bg:hover .rightdoor {
    right: -50%;
}


